<div id="new-post-container">
  <%= form_with model: @new_post do |form| %>
    <%= form.text_area :text %>
    <%= form.submit %>
  <% end %>
</div>

<div id="posts-container">
  <% @posts.each do |post| %>
    <% if user_signed_in? %>
      <span><i><%= post.user.username %></i></span>
    <% else %>
      <span><i><%= hide_users_name post.user.username %></i></span>
    <% end %>
    <span> • <%= post.created_at.strftime('%m/%d/%Y') %></span>
    <p><%= post.text %></p>
  <% end %>
</div>