<% if user_signed_in? %>
  <div id="new-post-container">
    <%= form_with model: @new_post do |form| %>
      <%= form.text_area :text %>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>

<div id="posts-container">
  <% @displayed_posts.each do |post| %>
    <% if user_signed_in? %>
      <span><i><%= post.user.username %></i></span>
    <% else %>
      <span><i><%= hide_users_name post.user.username %></i></span>
    <% end %>
    <span> • <%= post.created_at.strftime('%m/%d/%Y') %></span>
    <p><%= post.text %></p>
  <% end %>
</div>

<div id="post-navigator-container">
  <% if @current_post_page > 0 %>
    <%= link_to '< Previous', posts_path(:current_page => @current_post_page - 1) %>
  <% end %>

  <% if @current_post_page * 10 < @number_of_posts.round(-1) %>
    <%= link_to 'Next >', posts_path(:current_page => @current_post_page + 1) %>
  <% end %>
</div>