<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Members Only</h1>
      <div class="user-area">
        <% if user_signed_in? %>
          <%= current_user.username %>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "header-button" %>
        <% else %>
          <%= button_to 'Sign In', user_session_path, class: "header-button" %>
          <%= button_to 'Sign Up', user_registration_path, class: "header-button" %>
        <% end %>
      </div>
    </header>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
